# all folders starting with _ are local
_*/

.DS_Store
**/.vscode/ipch

# byte-compiled python files
*.py[cod]

/.vs

/app

**/data/test
**/data/replicator
**/data/rep_vis
exts/omni.comfyui.connector.core-0.1.0/pyproject.toml
